.row {
	width: 100%;
}

.color-p p {
	font-family: Maax Mono Regular;
	color: black;
	width: 80%;
	font-size: 18px;
	font-weight: normal;
}

.height-header h1 {
	font-family: Brothers Uppercase;
	font-weight: 900;
	color: black;
	font-size: 9em;
}

.height-sub-header h1 {
	font-family: Brothers Uppercase;
	font-weight: 900;
	color: black;
	font-size: 9em;
}

.height-header {
	height: 81vh;
	padding: 4% 0;
}

.box {
	padding: 5% 0;
}

.height-sub-header {
	height: 75vh;
	padding: 0;
}

.height-header label {
	letter-spacing: 2px;
	font-family: Maax Mono Regular;
	word-spacing: 2px;
	background-color: #eeded0;
	font-size: 25px;
}

.height-sub-header label {
	letter-spacing: 1px;
	font-family: Maax Mono Regular;
	background-color: #eeded0;
	font-size: 11px;
}

.bg label {
	background-color: #d8b8a3;
	font-family: Maax Mono Regular;
}

.btn-custom {
	border-radius: 20px;
	border: 1px solid #893146;
	background-color: #893146;
	width: 21%;
}

.btn-custom:hover {
	border-radius: 20px;
	border: 2px solid #893146;
	background-color: white;
	color: #893146;
}

footer ul, li, a {
	color: #2f3689; 
	font-weight: bolder;
}

footer a:hover {
	color: #2f3689; 
	font-weight: bolder;
	text-decoration: none;
}

footer p {
	color: black; 
	font-weight: bold;
}